{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block pagename %}
    <title>关于我</title>
{% endblock %}

{% block content %}
    <div class="content clearfix">
            <div class="info clearfix">
                <h2><a href="#">关于</a></h2>
                <ul>
                    <li><img src="{% static 'blog/img/guanyu.ico' %}">个人信息: <a href="#">我的信息</a></li>
                    <li><img src="{% static 'blog/img/youxiang.ico' %}">我的邮箱: <a href="#">18858194107@163.com</a></li>
                    <li><img src="{% static 'blog/img/github.ico' %}">GitHub: <a href="#">github.com/lzn102</a></li>
                </ul>
            </div>
        </div>
{% endblock %}